<tr>
  <td><%= author.name %></td>
  <td><%= link_to 'Show', author %></td>
  <td><%= link_to 'Edit', edit_author_path(author) %></td>
  <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
